<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mindorks.framework.mvp">
  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".MvpApp"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDwdKMruDMG-BFUmWM7UwBW1jA_n5O-Z38"/>

    <activity android:name=".ui.splash.view.SplashMVPActivity">

    </activity>
    <activity
      android:name=".ui.main.view.MainActivity"
      android:theme="@style/AppTheme">
    </activity>
    <activity android:name=".ui.login.view.LoginActivity">
    </activity>
    <activity android:name=".ui.feed.view.FeedActivity">
    </activity>
    <activity android:name=".ui.taxidisplay.view.TaxiDisplayActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".ui.taxibook.view.TaxiBookActivity"/>
  </application>

</manifest>
